Language: Cpp
PointerAlignment: Left
ReferenceAlignment: Left
BasedOnStyle: Google
SortIncludes: false
ColumnLimit: 90
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true

